services:
  postgres:
    image: postgres:16
    container_name: immowelt-postgres
    environment:
      POSTGRES_DB: immowelt
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
