spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1

logging:
  level:
    root: INFO
    com.romantrippel: DEBUG
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql.BasicBinder: OFF


telegram:
  token: ${TELEGRAM_TOKEN}
  chat-id: ${TELEGRAM_CHAT_ID}

proxy:
  enabled: ${PROXY_ENABLED:false}
  host: ${PROXY_HOST:}
  port: ${PROXY_PORT:0}

scraper:
  timeout: ${SCRAPER_TIMEOUT:15000}